<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAy4aj3aJMpxF6emHRV8jYmU1ZZBoHm0gM</string>
	<key>GCM_SENDER_ID</key>
	<string>908468362758</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.evercook</string>
	<key>PROJECT_ID</key>
	<string>evercook-da947</string>
	<key>STORAGE_BUCKET</key>
	<string>evercook-da947.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:908468362758:ios:b18b1f74a0929db6196d87</string>
</dict>
</plist>